/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting the font */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

/* Container settings */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header styles */
header {
    background: #1f1f1f;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #444 3px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

/* Section styles */
section {
    padding: 20px;
    margin: 20px 0;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
    color: #ffffff;
}

/* Footer styles */
footer {
    background: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: #444 3px solid;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

/* Ticker box styles */
.ticker-box {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: #1f1f1f;
    border: 2px solid #444;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #fff;
    text-align: center;
    z-index: 1000;
    width: 200px;
}

.ticker-box span {
    display: block;
    margin: 10px 0;
}

.ticker-box .crypto {
    font-weight: bold;
}

/* Contact icons styles */
.contact-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5em;
    transition: transform 0.3s;
}

.contact-icons a:hover {
    transform: translateY(-5px);
}

/* Button styles */
.button-3d {
    background: linear-gradient(135deg, #ff4081, #ff6e40);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.button-3d:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Grid container styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.grid-item {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
}
